{
    "GetUserFunction": {
        "DB_HOST": "",
        "DB_USER": "",
        "DB_PASSWORD": "",
        "DB_NAME": "",
        "DB_PORT": ""
    },
    "UpdateUserFunction": {
        "DB_HOST": "",
        "DB_USER": "",
        "DB_PASSWORD": "",
        "DB_NAME": "",
        "DB_PORT": ""
    }
}